body {
	width: 100%;
	overflow-x: hidden;
	margin: 0 auto;
	background-image: url("https://i.pinimg.com/originals/fe/ce/42/fece42c8d50bcdb82d9586337f29ce26.jpg");
}

#main {
	display: grid;
	grid-template-columns: 1fr .5fr 1fr;
	grid-column-gap: 5%;
	grid-template-rows: 500px .5fr .5fr .1fr; 
	grid-template-areas:"header header header"
						 "bio bio table"
						 "bunuel bunuel bunuel"
						 "learn learn learn";
	background-color: rgba(255,255,255,.9);
	padding-bottom: 30px;					 
	
}


header {
	width: 100%;
	height: 500px;
	position: relative;
	margin: 0 auto;
	margin-top: -10px;
	background-image: url("https://dxan6czxprkid.cloudfront.net/theatre/stephen-sondheim-theatre-featured-2048x1536.jpg?mtime=20190319163437&focal=none");
	background-position: center center;
	overflow-x: hidden;
	overflow-y: hidden;
	grid-area: header;
}

#header-container {
	background-color: rgba(0,0,0,.3);
	margin: auto;
	padding-top: 50px;
	overflow-x: hidden;
	min-height: 500px;
}


#title {
	
	font-family: 'Nothing You Could Do', cursive;
	font-size: 40px;
	text-align: center;
	background-color: rgba(255,255,255, .7);
	border-radius: 20px;
	width: 400px;
	margin: 20px auto;
	
}

#img-div {
	position: relative;
	margin: 0 auto;
	width: 50%;
	max-width: 400px;
}

#img-div p {
	font-weight: bold;
	background-color: rgba(255,255,255, .7);
	border-radius: 20px;
	padding: 10px;
}

#image {
	display: block;
	width: 80%;
	border-radius: 100%;
	margin: 20px auto;
}

#img-caption {
	text-align: center;
}


h2 {
	text-align: center;
}

h2,p, ul, li, h3, table, td, th {
	font-family: Open Sans, sans-serif;
}

p, li {
	line-height: 1.5;
	max-width: 700px;
}

.italics {
	font-style: italic;
}

#bio {
	grid-area: bio;

}

#bio li {
	width: 80%;
	padding: 0 40px;
	margin-bottom: 20px;
	min-width: .5fr;
}

#learn-more {
	list-style-type: none;
	margin: 30px auto;
	/*width: 506px;*/
	grid-area: learn; 
	padding-left: 0px;


}


#learn-more a {
	text-decoration: none;
	color: #FDEA7E;
	padding: 15px 30px;
	font-size: 16px;
	background-color: #000;
	
	
}

#learn-more li {
	display: inline;
	margin: 20px 0;
}

li {
	padding: 5px 0;
}

#bunuel {
	margin-left: 20px;
	grid-area: bunuel;
	margin: auto;
	background-color: #FDEA7E;
	padding: 0 20px;
	border-radius: 20px;
}

#tbl-container {
	grid-area: table;
	min-height: 700px;
	height: 45vw;
	overflow-y: scroll;
}

#show-list {
	margin: auto;

}

.show-title {
	max-width: 250px;
	padding: 0 40px;
}

td {
	text-align: center;
}

.tbl-img {
	height: 100px;
}

@media only screen and (min-width: 2000px) {
	#bunuel {
		margin-top: auto;
	}

	#learn-more {
		margin-top: -16vw !important;
	}


}


@media only screen and (min-width: 1559px) {
	#main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: .33fr .25fr 0fr;
		grid-template-areas: "header header header"
							 "bio bunuel table"
							 ". learn .";
	}

	header {
		grid-area: header;
	}

	#bio {
		grid-area: bio;
	}

	#learn-more {
		grid-area: learn;
		padding-left: 0px;
		margin: 0 auto;
		margin-top: -21vw;

	}


	#learn-more li{
		margin: auto 10px;
		padding: 0;
	} 

	#bunuel {
		grid-area: bunuel;
		margin-top: 100px;
	}

	#tbl-container {
		grid-area: table;
		height: 1050px;
	}
}

@media only screen and (max-width: 950px) {

	#learn-more {
		margin: -40px auto;
	}
}


@media only screen and (max-width: 800px) {
	#main {
		display: flex;
		flex-direction: column;
		padding-bottom: 1500px;
	}

	header {
		order: 1;
		grid-area: unset;
	}


	p, li {
		width: 75%;
		margin: auto;
	}

	#bio {
		order: 2;
		grid-area: unset;
	}

	#tbl-container {
		order: 5;
		grid-area: unset;
		overflow-y: visible;
		width: 90%;
		margin: auto;
	}

	#bunuel {
		order: 3;
		grid-area: unset;
		text-align: center;
		border-radius:0;

	}


#learn-more {	
	display: block;
	margin: auto;
	margin-top: 40px;
	order: 4;
}

#learn-more li {
	display: block;
	text-align: center;
	height: 40px;
	width: 100%;
}


	#learn-more a {
	font-size: 16px;
	background-color: #000;
	height: 40px;
	width: 90%;
	
}




	#bunuel p {
		margin-bottom: 20px;
	}


}

@media only screen and (max-width: 600px) {

	#img-div {
		width: 80%;
	}
}


@media only screen and (max-width: 430px) {


	header {
		width: 100%;
		overflow-x: hidden;
		
	}

	#header-container {
		padding: 40px 0;
	}

	#title{
		font-size: 30px;
		width: 80%;
	}

	#image {
		width: 80%;
	}

	#img-div {
		width: unset;
	}


	li, p, td {
		font-size: 14px;
	}

}



@media only screen and (max-width: 300px) {
body {
	margin: unset;
	overflow-x: visible;
	min-width: 100%;
}

header {
	margin: unset;
}


}